{% extends "base.html" %}

{% block title %}
Species Database
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='loginStyle.css') }}">
{% endblock %}



{% block content %}


<div class="species-container">


<h2>🌿 Add New Species</h2>


<div class="species-form">


<form action="{{ url_for('add_species') }}" method="POST">


<label>Scientific Name</label>

<input 
type="text" 
name="scientificName"
placeholder="Enter scientific name"
required>


<label>Common Name</label>

<input 
type="text"
name="commonName"
placeholder="Enter common name"
required>



<label>Habitat</label>

<input type="text"name="habitat" placeholder="Enter habitat"required>


<label>Location</label>

<input type="text"name="location"placeholder="Enter location" required>


<button type="submit">➕ Add Species</button>


</form>


</div>


</div>



{% endblock %}