{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}

{% block content %}

<div class="admin-container">

    <header class="top-bar">

        <div class="logo">
            <h1>🌿 Biodiversity Monitoring System</h1>
            <p>Administrator Dashboard</p>
        </div>

        <form action="{{ url_for('search') }}" method="GET" class="search-form">
            <input
                type="text"
                name="search"
                placeholder="Search users, species or observations..."
                value="{{ search if search else '' }}"
            >

            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="nav-buttons">

            <a href="{{ url_for('admin') }}" class="nav-btn">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>

            <a href="{{ url_for('login') }}" class="logout-btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>

        </div>

    </header>


    <!-- SUMMARY -->

    <section>

        <h2 class="section-title">
            Dashboard Overview
        </h2>

        <div class="dashboard-summary">

            <a href="{{ url_for('view_user') }}" class="summary-card">

                <div class="icon-circle">
                    <i class="fa-solid fa-users"></i>
                </div>

                <h2>{{ total_users }}</h2>

                <p>Registered Users</p>

            </a>

            <a href="{{ url_for('view_field_Officer') }}" class="summary-card">

                <div class="icon-circle">
                    <i class="fa-solid fa-user-shield"></i>
                </div>

                <h2>{{ total_field_officers }}</h2>

                <p>Field Officers</p>

            </a>

            <a href="{{ url_for('notifications') }}" class="summary-card">

                <div class="icon-circle">
                    <i class="fa-solid fa-bell"></i>
                </div>

                <h2>{{ total_notifications }}</h2>

                <p>Notifications</p>

            </a>

            <a href="{{ url_for('pending_observations') }}" class="summary-card">

                <div class="icon-circle">
                    <i class="fa-solid fa-clipboard-check"></i>
                </div>

                <h2>{{ total_pending_observation }}</h2>

                <p>Pending Approvals</p>

            </a>

        </div>

    </section>



    <!-- MENU -->

    <section>

        <h2 class="section-title">
            Administration
        </h2>

        <div class="menu-grid">

            <a href="{{ url_for('managerUser') }}" class="menu-card">

                <i class="fa-solid fa-users-gear menu-icon"></i>

                <h3>Manage Users</h3>

            </a>

            <a href="{{ url_for('view_species') }}" class="menu-card">

                <i class="fa-solid fa-paw menu-icon"></i>

                <h3>Species Database</h3>

            </a>

            <a href="{{ url_for('report') }}" class="menu-card">

                <i class="fa-solid fa-chart-pie menu-icon"></i>

                <h3>Reports</h3>

            </a>

            <a href="{{ url_for('view_observations') }}" class="menu-card">

                <i class="fa-solid fa-eye menu-icon"></i>

                <h3>Observations</h3>

            </a>
            

            <a href="{{ url_for('analysis_page') }}" class="menu-card">
                <i class="fa-solid fa-chart-line menu-icon"></i>
                <h3>Analysis</h3>
            <p>Analyze biodiversity patterns and changes over time.</p>

            </a>
                <a href="{{url_for('gallery')}}">
                     <div class="card">
                        <i class="fa-solid fa-camera"></i>
                        <h2 style="color:#1b5e20;">Species Gallery</h2>
                        <p> photos of different type of Species Found in CBU nature Park </p>
                    </div>
    </a>

        </div>

    </section>

</div>
<script src="{{ url_for('static', filename='js.js') }}"></script>

{% endblock %}