{% extends "base.html" %}

{% block title %}
Notifications
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
{% endblock %}


{% block content %}


<div class="notification-container">


<h2>🔔 Notifications</h2>


{% if notifications %}


{% for n in notifications %}


<div class="notification-card">


<h5>{{ n.title }}</h5>


<p>
{{ n.message }}
</p>


<small>
{{ n.created_at.strftime('%d %B %Y %I:%M %p') }}
</small>


</div>


{% endfor %}


{% else %}


<div class="alert">

No notifications available.

</div>


{% endif %}


</div>


<a href="{{ url_for('back') }}" class="back-btn">
← Back
</a>


{% endblock %}