{% extends "base.html" %}

{% block title %}
REPORT
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
{% endblock %}

{% block content %}

<h1>📄 Biodiversity Review Report</h1>


<hr>

{% for item in report_data %}

<div class="chart-card">

    <h2>{{ item.name }}</h2>
    <p><b>Scientific Name:</b> {{ item.scientific }}</p>

    <h3>Observations</h3>

    {% for obs in item.observations %}
        <p>
            📅 {{ obs.observation_date.strftime('%Y-%m-%d %H:%M') }} <br>
            🐾 Population: {{ obs.population_count }} <br>
            📝 Notes: {{ obs.notes }}
        </p>

        {% if obs.photo %}
            <img src="{{ url_for('static', filename='uploads/' + obs.photo) }}"
                 width="200">
        {% endif %}

        <hr>
    {% endfor %}

    {% if item.chart %}
        <h3>📊 Population Trend</h3>
        <img src="{{ url_for('static', filename=item.chart) }}"
             width="500">
    {% else %}
        <p>No graph available</p>
    {% endif %}

</div>
<div class="trends-container">
    <h2>Population Trends</h2>

    <div style="margin-bottom:20px;">
        <a href="{{ url_for('download_report') }}" class="btn-download">
            📄 Download PDF Report
        </a>
    </div>

{% endfor %}

{% endblock %}