{% extends "base.html" %}

{% block title %}
Record Observation
{% endblock %}


{% block css %}

<link rel="stylesheet"
href="{{ url_for('static', filename='adminstyle.css') }}">

{% endblock %}



{% block content %}


<div class="container">


<div class="form-box active">


<form method="POST" enctype="multipart/form-data">


<h2>
    Record Biodiversity Observation
</h2>



<label>
    Select Species
</label>


<select name="species_id" required>

    <option value="">
        -- Select Species --
    </option>


    {% for sp in species_list %}

    <option value="{{ sp.id }}">

        {{ sp.specie_Common_Name }}
        ({{ sp.scientificName }})

    </option>


    {% endfor %}


</select>





<label>
    Population Count
</label>


<input 
type="number"
name="population"
placeholder="Enter population count"
min="1"
required>





<label>
    Observation Notes
</label>


<textarea
name="note"
rows="5"
placeholder="Describe the observation..."
required></textarea>





<label>
    Upload Species Photo
</label>


<input 
type="file"
name="image"
accept="image/*">





<button type="submit">

    Save Observation

</button>



<p>

    Return to Dashboard?

    <a href="{{ url_for('field_Officer') }}">
        Back
    </a>


</p>



</form>


</div>


</div>



{% endblock %}