{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock %}


{% block css %}

<link rel="stylesheet"
href="{{ url_for('static', filename='loginStyle.css') }}">

{% endblock %}


{% block content %}

<div class="container">

    <div class="form-box active">

        <form method="POST">

            <h2>Reset Password</h2>
            <p>  Enter your new password below.</p>
            <input type="password" name="password" placeholder="New Password" required >


            <input  type="password" name="confirm_password" placeholder="Confirm New Password" required >


            <button type="submit">Reset Password</button>

            <p>
                Remember your password?
                <a href="{{ url_for('login') }}"> Login </a>
            </p>
        </form>

    </div>

</div>

{% endblock %}