{% extends "base.html" %}


{% block title %}
User Dashboard
{% endblock %}



{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">

{% endblock %}




{% block content %}



<div class="user-container">



<!-- ================= HEADER ================= -->

<header class="top-bar">
    <div class="logo">
        <h1>Biodiversity Monitoring System </h1>
        <p> Explore and understand nature through data</p>
    </div>

    <form action="{{ url_for('search') }}" method="GET" class="search-form">

        <input type="text" name="search" placeholder="Search species..." value="{{ search }}">

        <button type="submit">
            <i class="fa-solid fa-search"></i>

        </button>
    </form>





    <div class="nav-buttons">


        <a href="{{ url_for('notifications') }}" class="nav-btn">

            <i class="fa-solid fa-bell"></i>

            Notifications

        </a>



        <a href="{{ url_for('login') }}" class="logout-btn">

            <i class="fa-solid fa-right-from-bracket"></i>

            Logout

        </a>


    </div>


</header>

<h2 class="section-title">Welcome to Biodiversity Explorer</h2>



<div class="main-card">

    <div class="card">
        <h2 style="color:#1b5e20;">Explore, Observe and Protect</h2>
        <p> Discover biodiversity information, observe ecological changes andunderstand species around us.</p>
    </div>

    <a href="{{url_for('gallery')}}">
        <div class="card">
            <i class="fa-solid fa-camera"></i>
            <h2 style="color:#1b5e20;">Species Gallery</h2>
            <p> photos of different type of Species Found in CBU nature Park </p>
            
        </div>
    </a>

</div>


<h2 class="section-title">Biodiversity  System</h2>

<div class="main-card">
    <a href="{{ url_for('report') }}">
        <div class="card">
            <i class="fa-solid fa-chart-pie card-icon"></i>
            <h3>Review Reports</h3>
            <p>View biodiversity reports and ecological summaries.</p>
        </div>
    </a>

    <a href="{{ url_for('analysis_page') }}"> 
        <div class="card">
            <i class="fa-solid fa-chart-line card-icon"></i>
            <h3>Review Trends</h3>
            <p>Analyze biodiversity patterns and changes over time.</p>
        </div>

    </a>

    <a href="{{ url_for('view_species') }}">
        <div class="card">
            <i class="fa-solid fa-paw card-icon"></i>
            <h3> Explore Species</h3>
            <p> Browse recorded species information.</p>
        </div>
    </a>

</div>


<button onclick="window.location.href='{{ url_for('back') }}'" class="back-btn"> ← Back</button>
{% endblock %}