{% extends "base.html" %}

{% block title %}
DASHBOARD
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='manageUsersStyle.css') }}">
{% endblock %}

{% block content %}
<header>
    <nav class="navbar">
        <a href="{{ url_for('login') }}">log Out</a>
        <a href="{{url_for('notifications')}}">Notifications</a>    
    </nav>
    <br>
</header> 
<div class="grid">
    <div class="card small">
        <h2>WELCOME TO THE</h2>

        <h1>
            BIODIVERSITY MONITORING, DATA COLLECTION
            AND ECOLOGICAL ANALYSIS SYSTEM
        </h1>

        <p>
            Explore, Observe, Analyze and Protect
            the Biodiversity Around Us.
        </p>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='static/Waterbuck  Maasai Mara   Kenya.jpg') }}"
             alt="Waterbuck">
    </div>

</div>
<div class="grid">
    <div class="card small">
        <a href="{{ url_for('report') }}">Review Report</a>
    </div>
    
        <div class="card small">
        <a href="{{ url_for('trends') }}">Review the Trend</a>
    </div>
 </div>

{% endblock %}