
{% extends "base.html" %}

{% block title %}
SPECIES DATABASE
{% endblock %}
{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
{% endblock %}

{% block content %}


<h1>SPECIES DATABASE</h1>
<header>
    <nav class="navbar">
        <a href="{{ url_for('admin') }}">DashBoard</a>
        <a href="{{ url_for('login') }}">log Out</a>
    </nav>
    
</header>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Scientific Name</th>
        <th>Common Name</th>
        <th>Habitat</th>
        <th>Location</th>

    </tr>

    {% for species in species_list %}
    <tr>
        <td>{{ species.id }}</td>
        <td>{{ species.scientificName }}</td>
        <td>{{ species.specie_Common_Name}}</td>
        <td>{{ species.specie_Habitat}}</td>
        <td>{{ species.location }}</td>
     
    </tr>
    {% endfor %}

</table>


<button onclick="window.location.href='{{ url_for('back') }}'" class="back-btn">
    ← Back
</button>
{% endblock %}

