{% extends "base.html" %}

{% block title %}
SPECIES DATABASE
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='manageUsersStyle.css') }}">
{% endblock %}

{% block content %}

<h1>Observations</h1>

<table border="1">
    <tr>
        <th>Species</th>
        <th>Population</th>
        <th>Notes</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {% for obs in observations %}
    <tr>
        <td>{{ obs.species.specie_Common_Name }}</td>
        <td>{{ obs.population_count }}</td>
        <td>{{ obs.notes }}</td>
        <td>{{ obs.observation_date }}</td>

        <td>
            {% if obs.status == "Pending" %}
                <span class="badge bg-warning">Pending</span>

            {% elif obs.status == "Approved" %}
                <span class="badge bg-success">Approved</span>

            {% elif obs.status == "Rejected" %}
                <span class="badge bg-danger">Rejected</span>

            {% else %}
                <span class="badge bg-secondary">Unknown</span>

            {% endif %}
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}